html, body, .container, #app {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0 !important;
    background-image: url('../../public/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-block {
  display: block;
  position: relative;
  background-color: #009993;
  height: 500px;
  min-width: 300;
  width:40%;
  float: left;
  opacity: 90;
  overflow: hidden;
  text-align: left;
  margin-left: 20px;
}

.login {
    padding-top: 50px;
}

img {
    width: 100px;
    height: 100px;
    float: center;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, p, .form-section, .form-button {
    color: white;
    margin-left: 25px;
    margin-top: 25px;
}

Link {
    color:#009993;
}

form input[type="submit"],
.form-button {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #009993;
  font-weight: 700;
  cursor: pointer;
}
